<!DOCTYPE html>
<html>
<head>
    <title> EASYSHOP - Comprar e vender </title>
</head>
<body>
    <h4> {{titulo}}</h4>
    <form action="cadanuncios" method="post">
        <p><label for="produtos">Selecione o Produto<label> </p>
        <p><input type="text" id="prod" name="prod"> </p>

        <p><label for="data">Data do Anuncio<label> </p>
        <p><input type="text" id="data" name="data"> </p>

        <p><label for="quant">Quantidade<label> </p>
        <p><input type="text" id="quant" name="quant"> </p>

        <p><label for="valor">Valor<label> </p>
        <p><input type="text" id="valor" name="valor"> </p>
   
        <p><input type="submit" value="cadastrar"> </p>

    </form>
</body>

</html>
