<!DOCTYPE html>
<html>
<head>
    <title> EASYSHOP - Comprar e vender </title>
</head>
<body>
    <h4> {{titulo}}</h4>
    <form action="cadprodutos" method="post">
        <p><label for="desc">Descrição<label> </p>
        <p><input type="text" id="desc" name="desc"> </p>

        <p><label for="valor">Valor<label> </p>
        <p><input type="text" id="valor" name="valor"> </p>

        <p><label for="qtd">Quantidade em Estoque<label> </p>
        <p><input type="text" id="qtd" name="qtd"> </p>
   
        <p><input type="submit" value="cadastrar"> </p>

    </form>
</body>

</html>
