<!DOCTYPE html>
<html>
<head>
    <title> EASYSHOP - Comprar e vender </title>
</head>
<body>
    <h4> {{titulo}}</h4>
    <form action="caduser" method="post">
        <p><label for="user">Username<label> </p>
        <p><input type="text" id="user" name="user"> </p>

        <p><label for="email">E-mail<label> </p>
        <p><input type="text" id="email" name="email"> </p>

        <p><label for="senha">Senha<label> </p>
        <p><input type="text" id="senha" name="senha"> </p>

        <p><label for="end">Endereço<label> </p>
        <p><input type="text" id="end" name="end"> </p>

        <p><label for="bairro">Bairro<label> </p>
        <p><input type="text" id="bairro" name="bairro"> </p>

        <p><label for="cidade">Cidade<label> </p>
        <p><input type="text" id="cidade" name="cidade"> </p>

        <p><label for="estado">Estado<label> </p>
        <p><input type="text" id="estado" name="estado"> </p>

        <p><label for="cep">CEP<label> </p>
        <p><input type="text" id="cep" name="cep"> </p>
    
        <p><input type="submit" value="cadastrar"> </p>

    </form>
</body>

</html>
